* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

header .image img {
  width: 100%;
  height: 400px;
}

nav .navbar {
  height: 60px;
  background-color: #B22222;
}

nav .navbar ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

nav .navbar ul li {
  display: inline-block;
}

nav .navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

main .costo-biglietto {
  margin-top: 50px;
}
